<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KV_COM_LB.My.MySettings.StampDeptConnectionString"
            connectionString="Data Source=KEY-NB-42\SQLEXPRESS2;Initial Catalog=StampDept;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
</configuration>